<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ваш заказ</title>
    <!-- подключаем бутстрап -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
    body {
      background-color: #f8f9fa; /* Светло-серый фон */
      font-family: 'Arial', sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Обеспечивает заполнение всего экрана */
      margin: 0; /* Убирает стандартные отступы */
      background: linear-gradient(to bottom, #e0f2f7, #cce5ff); /* Нежный голубой градиент */
    }

  </style>
</head>
<body>
<!-- создаём контейнер -->
<div class="container">
    <div class="row">
        <!-- указываем стиль адаптивной вёрстки -->
        <div class="col-md-12">
            <!-- пишем заголовок и пояснительный текст -->
            <h2>Ваш заказ</h2>
            <p>
                <!-- кнопка для выхода -->
                <a href="success" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Вернуться на
                    домашнюю страницу</a>
                <a href="buy" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Показать чек</a>
            </p>
            {% for item in list %}
            <div>{{item}}</div>

            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>