{% extends "base.html" %}

{% block content %}
<h1>Поиск товаров</h1>
<a href="basket" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Корзина</a>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.find.label }}<br>
        {{ form.find(class="form-control") }}<br>
        {% for error in form.find.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

    {% for item in list %}
        <div>{{item}}</div>

    {% endfor %}

    {{message}}
</form>
{% endblock %}